*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.box1{
    position: fixed;
    right: 205px;
    top: 90px;
    width: 300px;
    height: 300px;
    transform: rotate(35deg);

}
 .box2{
    position: fixed;
    top: 28px;
    left: 265px;
    width: 300px;
    height: 300px;
    transform: scale(0.5);

}
.box3{
    position: fixed;
    right: 290px; 
    margin-top: 495px;
    width: 300px;
    height: 300px;
    transform: translate(100px);

}
.box4{
    position: fixed;
    left: 295px;
    margin-top: 495px;
    width: 300px;
    height: 300px;
    transform: skew(35deg);

} 