@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Lora:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
img{
 display: flex;
 justify-content: center;
 align-items: center;
 border: 5px;
 margin-left: 150px;
 border-radius: 50%;
 /* margin-bottom: 5px; */
}
.box1{
    display: flex;
    column-gap: 4.3rem;
    justify-content: left;
    align-items: center;
    margin: 20px;
    /* border: 2px solid black; */
    
}
.box2{
   margin: 20px;
    display: flex;
 column-gap: 4.3rem;
  justify-content:left;
  align-items: center;
  /* border: 2px solid black; */

}
.box3{
    margin: 20px;
    display: flex;
    column-gap: 2rem;
    justify-content: left;
    align-items: center;
    /* border: 2px solid black; */
    width: 90%;
}

.box3 #passwordPara{
    width: 5.5rem;
}

.box3 #starPara{
    width: 10rem;
    /* border: 1px solid red; */
    padding-left: 10%;
}

.box4{
    margin: 20px;
    display: flex;
justify-content: left;
align-items: center;
column-gap: 1.5rem;
/* border: 2px solid black; */
}
.box5{
    margin: 20px;
    display: flex;
justify-content: left;
align-items: center;
    column-gap: 2.8rem;
    /* border: 2px solid black; */
}
.box6{
    
    margin: 20px;
    display: flex;
justify-content: left;
align-items: center;
    column-gap: 0.6rem;
    /* border: 2px solid black; */
}
.box7{
    margin: 20px;
    
    display: flex;
justify-content: left;
align-items: center;
    column-gap: 5rem;
    /* border: 2px solid black; */
}
.child5{
    display: flex;
    justify-content: left;
    column-gap: 4rem;
}
.parent{

    margin: 50px auto;
    padding: 50px;
    /* display: flex;
    justify-content:flex-start;
    align-items: center; */
    width: 500px;
    height: 700px;
    background-color: blueviolet;
    border: 2px solid black;
    
}
.box8{
    margin: 20px;
    display: flex;
justify-content: center;
align-items: center;

}
.contanier{
    display: flex;
    justify-content: center;
    align-items: center;
}
