*{
    margin: 0;
    padding: 0;
}


input:focus{
    background-color: blueviolet;
}
/* .btn:hover{
    padding: 1rem;
    background-color: black;
}

.btn a:hover{
    text-decoration: none;
    color: white;
} */