*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contanier{
    width: 1200px;
    height: 700px;
        margin: 50px auto;
        padding: 100px;
        /* box-sizing: border-box; */
        background-image: url("sport1.png");
        /* background-repeat: no-repeat; */
        background-size: cover;
        position: fixed;

}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box1{

    position: relative;
    right: 30px;
    bottom: 20px;
}

.box2{
    position: relative;
    left: 20px;
    bottom: 30px;
}
img:hover{
    width: 50%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3{
    position: relative;
    left: 60px;
    bottom: 30px;
}

.box4{
    position: relative;
    left: 80px;
    bottom: 25px;
}
